
h1{margin-left: 20px;color: #000000;}
h2{margin-top: 20px;color: #000000;}
h3{margin-top: 40px;margin-left: 20px;color: #000000;}
p{margin-left: 50px;color: #000000;}
body{background-color: gray;background-image: url(zelena.jpg);}
form{color: #000000;}