body{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar{
    background-color:snow!important;
    
}
.nav-item{
    color: #00b359 !important;
    font-weight: bolder;
    font-size: 16px;
    

}
.navbar-brand{
    color:#00b359 !important;
    font-size: 20px;
}
.nav-item.active{
    font-weight: bold;
    color:#006633 !important ;
    
}